<ion-content>
  <div class="characters-header">
    <ion-button class="btn-out" (click)="logout()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-label class="rectangulo">Detalles</ion-label>
  </div>

  <ion-list>
    <ion-card *ngIf="personaje">
      <ion-thumbnail slot="start">
        <img [src]="personaje.imagen" [alt]="personaje.nombre" />
      </ion-thumbnail>

      <ion-label>
        <h2>{{ personaje.nombre }}</h2>
        <p><b>Banda:</b> {{ personaje.banda }}</p>
        <p><b>Rol:</b> {{ personaje.rol }}</p>
        <p><b>Personalidad:</b> {{ personaje.personalidad }}</p>
        <p><b>Descripción:</b> {{ personaje.descripcion }}</p>
      </ion-label>
    </ion-card>
  </ion-list>
</ion-content>







