<ion-content [fullscreen]="true" class="menu-login">
  <div class="menu-login">
  <div class="menu-principal">
  <h1>NanaFan🍓</h1>
  <p>Encuentra tus personajes favoritos</p>

  <label class="input-label-usuario">Usuario</label>
  <ion-input class="input-field" placeholder="Ingresa tu usuario🍓" type="text" id="usuario" [(ngModel)]="data.user"></ion-input>

   <label class="input-label-contra">Contraseña</label>
    <ion-input class="input-field" placeholder="Ingresa tu contraseña" type="password" id="clave" [(ngModel)]="data.password"></ion-input>

        <ion-button expand="block" class="login-button" id="iniciar" (click)="iniciar()" >Ingresar</ion-button>

  <!-- Olvido contraseña--> 
            <p class="forgot-password">
      ¿Olvidaste tu contraseña?
      <a (click)="getPassword()" class="olvidar-link">Click Aquí</a>

    </p>
  <!--Registrarse --> 

    <p class="register">
      ¿Aún no estas registrado 😯?
      <a (click)="register()" class="register-link">Registrate aquí</a>

    </p>
  </div>     
  </div>
</ion-content>
