<ion-content>
  <ion-card #card class="animate-card">
    <ion-card-header>
      <ion-card-title>¡Recupera aquí tu contraseña!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <label class="input-label-usuario">Ingresa tu correo</label>
    <ion-input class="input-field" placeholder="Ingresa tu correo🍓" type="email" [(ngModel)]="data.email" ></ion-input>
     <ion-button expand="block" class="login-button" (click)="sendEmail()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

