ion-content{
    --ion-background-color:#F6DFE5;
      display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 100%;
}

.animate-card {
  max-width: 400px;
  margin: 30px auto;
  background: white;
}

.input-label-usuario {
    position: relative;
    right: 39%;
    top: 20px;
}

ion-input{
     --background:#f1c9d4;
     --padding-start: 10px;
     --border-radius: 4px;
     --highlight-color: #d30f44;
     margin-bottom: 40px;
     margin-top: 20px;
}

ion-card-title {
  text-align: center;
}

ion-button{

    --background:#F0809E;
      margin-bottom: 40px;
}
